<div class="bg-theme p-5">
    <div class="container">
        <h1 class="text-white"> {{ categoryObj.category }} </h1>
        <p class="text-white"> Insights, tutorials, and tips for fullstack developers — Exploring everything from backend logic and API design to frontend frameworks and user experience, all in one place. </p>
    </div>
</div>

<div class="container mt-4 mb-4" *ngIf="postsArray">
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let post of postsArray">
            <app-post-card [postData] = "post"></app-post-card>
        </div>
    </div>
</div>