<section class="mt-5">

    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class="text-white text-center">About Us</h1>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ducimus expedita voluptate! Nesciunt ipsa nisi inventore rem illo necessitatibus. Asperiores suscipit similique in, tempora eius eum odio quis voluptatem incidunt?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sed possimus. Inventore animi nobis itaque vero perferendis odit asperiores dicta fuga accusantium. Dolorum magnam magni cupiditate a perferendis sed perspiciatis eum, sint necessitatibus quod praesentium.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem vero beatae iusto doloribus exercitationem aliquid molestiae, similique laborum fuga commodi nisi placeat magni perferendis iure? Aliquid omnis hic laudantium dolore!</p>

            <div class="text-center">
                <button class="btn btn-theme btn-sm mt-4"> Back to Home </button>
            </div>
        </div>
    </div>

</section>