<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect mt-3">
                <img src="https://images.pexels.com/photos/22147574/pexels-photo-22147574/free-photo-of-two-girls-riding-bicycles-and-a-dog-running-on-a-countryside-road.jpeg?auto=compress&cs=tinysrgb&lazy=load" alt="">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> JavaScript </small>
                    <small class="bg-light text-success text-center ml-2"> Featured </small>
                    <small class="bg-light text-info text-center ml-2"> Views - 100,256 </small>
                    <small class="bg-light text-warning text-center ml-2"> LAST UPDATED - OCT 25, 2024 </small>

                    <h1 class="mt-3 mb-3"> DUMMY JAVASCRIPT BLOG TITLE </h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo cumque natus incidunt maxime, voluptas deserunt culpa, ipsa fugiat sequi aliquid illum eum quisquam totam suscipit, accusantium nesciunt modi itaque odit minus aut nobis repellendus cupiditate explicabo harum. Praesentium reprehenderit odio reiciendis soluta repellendus illo ducimus ad laboriosam beatae architecto fugit explicabo officia, maxime eaque quisquam quas voluptas cumque inventore accusamus. Officiis saepe ipsum blanditiis qui quo exercitationem commodi quos a numquam deleniti. Temporibus, commodi enim eos omnis, hic architecto rerum praesentium eius animi a perspiciatis natus blanditiis atque quidem officia perferendis magnam? Sapiente eos, tenetur a non consequatur vero pariatur! </p>
                </div>
            </div>

            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>

        </div>

        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>