<div class="card shadow-effect">
    <!-- <img src="https://images.pexels.com/photos/28133540/pexels-photo-28133540/free-photo-of-a-yellow-mountain-with-fog-on-it.jpeg?auto=compress&cs=tinysrgb" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> JavaScript </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views - 100,256 </small>

        <h5 class="mt-1"> DUMMY TITLE </h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque excepturi consequatur magnam natus enim? Ut recusandae voluptatibus eaque quam sapiente.</p>

        <small class="bg-light text-warning text-center ml-3"> LAST UPDATED - OCT 25, 2024 </small>
    </div> -->

    <img src="{{ imagePath }}" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> {{ category }} </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views - {{ views }} </small>

        <h5 class="mt-1"> {{ title }} </h5>
        <p> {{ excerpt }} </p>

        <small class="bg-light text-warning text-center ml-3"> LAST UPDATED - {{ createdAt | date }} </small>
    </div>
</div>